@import url('https://fonts.googleapis.com/css?family=Roboto|ZCOOL+KuaiLe');



/*font-family: 'ZCOOL KuaiLe', cursive;

font-family: 'Roboto', sans-serif;*/



/* CONSIDERACIONES GENERALES */

* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    
    
}

body {
    
    background-color: #32363d;
    font-family: 'Roboto', sans-serif;       
}


main {
margin-top: 120px;
margin-left: 15px;
width: 70%;
background-color: #c0cd35;
border: whitesmoke solid 2px;

}


main h2{

    font-family: 'ZCOOL KuaiLe', cursive;
    color: #32363d;
    text-align: center;
    font-size: 10px;
}



