/* CONSIDERACIONES GENERALES */

* {
	margin: 0;
	padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

/*body {
    background...image...lo que sea
    background-size:cover;
}*/

/* DEFINICION PARA EL CONTAINER FLEX */

.container {

width:100%;
max-width: auto;
margin: auto;
background: linear-gradient(to bottom, #b92b27, #313565C0);
background: linear-gradient(to top, #313565C0, #b92b27);


display: flex;
flex-direction: row;
flex-wrap: wrap;

}

/* DEFINICION DE ESTILOS PARA EL HEADER */

header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

header .logo_header img {
    width: 500px;
    vertical-align: top;

}


/* DEFINICION DE ESTILOS PARA EL FOOTER */

footer {
    width: 100%;
    padding:20px;
    position: absolute;
    bottom: 0;
    background-color: #313565C0;

    display: flex;
	flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    

}

footer .patrocinadores {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 15px;
    color: beige;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

footer .logo_vinalium img {

    width: 300px;
}

footer .social {
        
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

footer .social img {

    width: 40px;
    margin-left: 20px;

}