header {
    background-color: #32363d;
    width: 100%;
    height: 100px;
    padding-top: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
   
}

header .logo_header img {
width: 200px;

}

header .names img {
width: 90px;


}





